<div class="row mb-2">
  <div class="col-8">
    <h1 class="display-4">Tarefas</h1>
  </div>
  <div class="col-4 mt-4 tex-right">
    <%= link_to "New task", new_task_path, class: "btn btn-primary" %>
  </div>
</div>

<% if @tasks.any? %>

<table class="table table-borderless">
    <thead>
        <tr>
            <th>Description</th>
            <th>Goal</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @tasks.each do |task| %>
            <%= render 'table_row', task: task %>
        <% end %>
    </tbody>
</table>

<% else %>

<p>No tasks. Create one.</p>

<% end %>
